ul.nav {
	list-style: none;
	display: block;
	width: 300px;
	position: relative;
	left: 20px;
	padding: 20px 0 60px 0;
	background: url(../resources/shad2.png) no-repeat;
	background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(../resources/border.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	border-top-right-radius: 10px;
 	border-bottom-right-radius: 10px;
	width: 150px;
	display: block;
	text-decoration: none;
	box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb url(../resources/border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}
